.navbar-custom {
    background-color: #222222;
}


.navbar-custom .nav-item:hover .nav-link {
    background-color: #0059b3;
}

.navbar-custom .nav-item:active .nav-link{
  background-color: #0059b3;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
